/* Copyright belongs to Kamalpur Netaji High School (H.S.) Estd 1956 */
/* Carousel Styles */
.owl-carousel {
    .item {
        position: relative;

        img {
            width: 100%;
            height: 400px; /* Fixed height for banner feel */
            object-fit: cover; /* Crop images to fit */
            border-radius: var(--radius);

            @media (max-width: 600px) {
                height: 250px;
            }
        }
    }

    /* Carousel Caption Styles */
    .carousel-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        padding: 10px 0;
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);

        h3 {
            margin: 0;
            color: var(--text-primary);
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

