---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Home">
    <span slot="head">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    </span>

    <section id="home">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="/assets/images/various_events/5th_september__L.jpg" alt="5th September">
                <div class="carousel-caption"><h3>5th September</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/annual_function__L.jpg" alt="Annual Function">
                <div class="carousel-caption"><h3>Annual Function</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/annual_sports__L.jpg" alt="Annual Sports">
                <div class="carousel-caption"><h3>Annual Sports</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/COMPUTER_LITERACY_PROJECT__L.jpg" alt="Computer Literacy Project">
                <div class="carousel-caption"><h3>Computer Literacy Project</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/drawing__L.jpg" alt="Drawing">
                <div class="carousel-caption"><h3>Drawing</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/games__L.jpg" alt="Games">
                <div class="carousel-caption"><h3>Games</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/physical_edication__L.jpg" alt="Physical Education">
                <div class="carousel-caption"><h3>Physical Education</h3></div>
            </div>
            <div class="item">
                <img src="/assets/images/various_events/wall_megazine__L.jpg" alt="Wall Magazine">
                <div class="carousel-caption"><h3>Wall Magazine</h3></div>
            </div>
        </div>
        <p>Welcome to the official website of Kamalpur Netaji High School (H.S.)</p>
    </section>

    <script slot="scripts" is:inline type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script slot="scripts" is:inline type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script slot="scripts" is:inline>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                autoplay:true,
                autoplayTimeout:5000,
                autoplayHoverPause:true,
                responsiveClass:true,
                responsive:{
                    0:{items:1,nav:true,loop:true},
                    600:{items:1,nav:true,loop:true},
                    1000:{items:1,nav:true,loop:true}
                }
            });
        });
    </script>
</BaseLayout>
