---
export let title = "Kamalpur Netaji High School (H.S.)";
---
<header>
  <div class="header-content">
    <a href="/"><img src="/assets/images/knhs.webp" alt="KNHS Logo" class="logo"></a>
    <div class="header-text">
      <h1>{title}</h1>
      <p class="header-subtitle">Kamalpur • Chhatna • Bankura • West Bengal • 722137</p>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/about"><i class="fa fa-info-circle"></i> About</a></li>
      <li><a href="/#academics"><i class="fa fa-book"></i> Academics</a></li>
      <li><a href="/staffs"><i class="fa fa-users"></i> Staffs</a></li>
      <li><a href="/various_events"><i class="fa fa-calendar"></i> Various Events</a></li>
      <li><a href="/gallery"><i class="fa fa-image"></i> Gallery</a></li>
      <li><a href="/contact"><i class="fa fa-phone"></i> Contact</a></li>
    </ul>
  </nav>
</header>
