<div class="hits-counter">
  <a href="https://hits.sh/knhs.in/">
    <img alt="Hits" src="https://hits.sh/knhs.in.svg?style=plastic&color=fec90d&labelColor=012f63&logo=iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAIeElEQVR4AcRUCVDU1xn%2F7QV7CCwIsoquohwKXqh4gOKFiVCkVI3FSCLoVOPENqN1VEx0SJMZr6rF1GjUgooEo1IjBMExCERw5CyIKOiKXAsLy7HsyZ7%2Fvv8iGFQksTPNm%2B%2B9973v%2FL3je0z8xu3XAVgUx166evWCEwfm7Ub98w%2Ftfu5xcBEC2IcTl1cO6Bwi1J0hvbf%2Fxpy%2BIHh1f61W0K9atf%2BbtpDZFrZ9dsi4soOlsSl%2FE0%2B7xP4bZtoe8DccxfAmZIo9hdizbn7PjxyaZFVbv8x7WNeCq3R2K%2BB%2FZnTsfWi4HYcXku%2Fn5zCm5UiMGzNWDJxMbZB9cUJGcmXCpcsXaV71AgBgdAjvvUoZmJ%2B8LLT3mLFA4%2F3Bcj6OC72Hg%2BCBeLfHC5xB35z0TIeuiG47e9cDTbDyu%2FDsWeazPRrbXFu77SWf%2BIulv4521LVrwJBHMQJeNM2I0Lfwp6Eq03sbA5KRCHbs5Es9IOZXU2yK3moqKRg8pGFh41syDtYiGvxhZP5RzkPRmLtWeCkVHpBndntWBPaFXqxx%2B%2FEzZIHrwWwN8%2BDdq1PrBmrbLHBmHHF0Ha7YL%2F1LPxTM6Ewcx4bSwLBaJnobiWjfpODjaem4fEAg%2B42ms5f1le9e2i8Pc8Xuf4CoB54VEeHwRK4pgMCmtPB8BM8ZFXzYHW8PrEJC%2Fo3hfcZAEkrWy4OlgQnz0FuTUieI1Q2m0Lqz7ZZ%2FPz%2BRUAW4Mf7B07XGV75icPsnMhamQvkvO4HLwTGYJPDu3GziO78Rnp%2B47R8y6s3%2AfJvHd7kti9cB40sSGwBXanzoDOyCaPUxq8OipiETEYQAMACKdHC2eO61hjMrOQdM8TTgIzujQMq4PbSEe8vyUSPtOmwsHeDnb2QniIRRA6CMGiGHAd7ozQ9yLwxzVLwWJaXazXNtyOjYSC8QSMEZHzaz%2Fq1bwYn5v2ClbNky%2FzdFVwsx%2BJ0GO0QfEzLqbx1OBAj2ZZFyruloFD6aDnDYOOJK1r60CPnRMUYEOn6oK2qw05t%2B7BTK7BkWuE2IkJhQZIKxeDbmJHdQQQNyDngMV8L9lMWlD0zBmdZOc6AxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxAxX3M1HXIiiSSzoG%2FETFob29XdXe3lxpaH30XOG1cXmxsLBYvXgwbXVO6XinNUCrlktzcXBMx7ScGg0F1dnY26uVPs1TS6sf9iufMKwCey4ecwsPD3detW4eYmBhER0dPGNJhEIO3BuDi4jLJYDCQErPA392%2F55D4Q4rfGoBSqfQpKCiAXC6Hq6vr%2Fx8AuescmYz8guQUMjMz84bc6iAGb30CV69e3Z%2BRkdGUmppaHB8f%2F69B4g8pfmsAJLL%2B1q1bJxITE48R%2Fq3pfwEAjUaTcv%2F%2B%2FfQ3ZR9K918AAAD%2F%2F%2BDH%2BU0AAAAGSURBVAMA%2FWh8sbtGimwAAAAASUVORK5CYII%3D"/>
  </a>
</div>

<style>
  .hits-counter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
</style>
