---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
export let title = ''
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#012f63">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="KNHS">
    <meta name="description" content="Official website for Kamalpur Netaji High School (H.S.)">
    <meta property="og:title" content={title ? `${title} - Kamalpur Netaji High School` : 'Kamalpur Netaji High School'}>
    <meta property="og:description" content="Official website for Kamalpur Netaji High School (H.S.)">
    <meta property="og:image" content="https://knhs.in/assets/images/knhs.webp">
    <meta property="og:url" content="https://knhs.in">
    <meta property="og:type" content="website">
    <title>{title ? `${title} - Kamalpur Netaji High School` : 'Kamalpur Netaji High School'}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <slot name="head" />
    <slot name="before-styles" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <slot name="after-styles" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script is:inline type="text/javascript" src="/assets/js/typer.js"></script>
    <script is:inline>
        console.log(
            `%cCopyright belongs to Kamalpur Netaji High School (H.S.) Estd 1956`,
            "color: #ffd700; background: #012f63; font-family: monospace; font-size: 12px; font-weight: bold; padding: 10px; border-radius: 5px; line-height: 1.2; text-shadow: 1px 1px 0px #000;"
        );
        document.getElementById('year').textContent = new Date().getFullYear();
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(registration => console.log('SW registered'))
                .catch(error => console.log('SW registration failed'));
        }
    </script>
    <slot name="scripts" />
  </body>
</html>
