---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
export let title = ''
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#012f63">
    <title>{title ? `${title} - Kamalpur Netaji High School` : 'Kamalpur Netaji High School'}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script is:inline type="text/javascript">document.getElementById('year').textContent = new Date().getFullYear();</script>
    <script is:inline type="text/javascript" src="/assets/js/typer.js"></script>
    <slot name="scripts" />
  </body>
</html>
